___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Introduction to Pandas

In this section of the course we will learn how to use pandas for data analysis. You can think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course, you should go through the notebooks in this order:

* Introduction to Pandas
* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating
* Operations
* Data Input and Output

In [30]:
#Part1

In [1]:
import pandas as pd
import numpy as np

In [14]:
A=([1,2,3,4,5],[2,3,4,6,7])
d={'A':0,'B':5,'C':4}
labels=['a','b','c','d','e']

In [3]:
pd.Series(data=A,index=labels)

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [4]:
pd.Series(d)

A    0
B    5
C    4
dtype: int64

In [7]:
pd.Series(labels)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [17]:
pd.Series(A,index=['USA','RUSSIA'])

USA       [1, 2, 3, 4, 5]
RUSSIA    [2, 3, 4, 6, 7]
dtype: object

In [20]:
pd.Series([[2,3,4,5],[3,6,7,8]],index=['USA','RUSSIA'])

USA       [2, 3, 4, 5]
RUSSIA    [3, 6, 7, 8]
dtype: object

In [24]:
pd.Series(data=[1,2,3,4,5],index=['USA','USSR','ITALY','RUSSiA','ENGLAND'])

USA        1
USSR       2
ITALY      3
RUSSiA     4
ENGLAND    5
dtype: int64

In [29]:
df1=pd.Series([2,3,4,5],index=['USA','RUSSIA','ITALY','ENGLAND'])
df2=pd.Series(data=[1,2,3,4,5],index=['USA','USSR','ITALY','RUSSIA','ENGLAND'])
df1+df2

ENGLAND    10.0
ITALY       7.0
RUSSIA      7.0
USA         3.0
USSR        NaN
dtype: float64

In [31]:
#Part2

In [33]:
from numpy.random import randn

In [46]:
df=pd.DataFrame(randn(5,5),index=['A','B','C','D','E'],columns=['AA','BB','CC','DD','EE'])
df

         AA        BB        CC        DD        EE
A -0.568514 -1.213415  1.536640 -0.144930  0.065562
B  0.586554 -0.879614 -0.438807 -0.598752 -0.577859
C -1.083538 -0.947324  0.797873  0.752817  1.148544
D -0.183870  0.412830  0.400970 -1.230669  0.205794
E -1.106562  1.063367 -0.024931 -3.286128  0.456773

In [61]:
df.max()
df.min()
df.sum()
df.std()

AA    0.705251
BB    0.994407
CC    0.761520
DD    1.516214
EE    0.626694
dtype: float64

In [74]:
df[['AA','DD']]

         AA        DD
A -0.568514 -0.144930
B  0.586554 -0.598752
C -1.083538  0.752817
D -0.183870 -1.230669
E -1.106562 -3.286128

In [80]:
df['new']=df['AA']+df['DD']
df

         AA        BB        CC        DD        EE       new
A -0.568514 -1.213415  1.536640 -0.144930  0.065562 -0.713445
B  0.586554 -0.879614 -0.438807 -0.598752 -0.577859 -0.012198
C -1.083538 -0.947324  0.797873  0.752817  1.148544 -0.330722
D -0.183870  0.412830  0.400970 -1.230669  0.205794 -1.414539
E -1.106562  1.063367 -0.024931 -3.286128  0.456773 -4.392690

In [86]:
df.drop('new',axis=1,inplace=True)
df

         AA        BB        CC        DD        EE
A -0.568514 -1.213415  1.536640 -0.144930  0.065562
B  0.586554 -0.879614 -0.438807 -0.598752 -0.577859
C -1.083538 -0.947324  0.797873  0.752817  1.148544
D -0.183870  0.412830  0.400970 -1.230669  0.205794
E -1.106562  1.063367 -0.024931 -3.286128  0.456773

In [90]:
#selecting the rows
df.loc['A']

AA   -0.568514
BB   -1.213415
CC    1.536640
DD   -0.144930
EE    0.065562
Name: A, dtype: float64

In [91]:
df.loc[['A','B']]

         AA        BB        CC        DD        EE
A -0.568514 -1.213415  1.536640 -0.144930  0.065562
B  0.586554 -0.879614 -0.438807 -0.598752 -0.577859

In [78]:
df[df['AA']>0]

         AA        BB        CC        DD        EE       new
B  0.586554 -0.879614 -0.438807 -0.598752 -0.577859 -0.012198

In [92]:
df.iloc[2]

AA   -1.083538
BB   -0.947324
CC    0.797873
DD    0.752817
EE    1.148544
Name: C, dtype: float64

In [93]:
df.loc[['A','D'],['BB','CC']]

         BB       CC
A -1.213415  1.53664
D  0.412830  0.40097

In [68]:
df[df['AA']<0 ]

         AA        BB        CC        DD        EE
A -0.568514 -1.213415  1.536640 -0.144930  0.065562
C -1.083538 -0.947324  0.797873  0.752817  1.148544
D -0.183870  0.412830  0.400970 -1.230669  0.205794
E -1.106562  1.063367 -0.024931 -3.286128  0.456773

In [94]:
sumdf.apply(lamda x: x[:3]=='25')

SyntaxError: invalid syntax (<ipython-input-94-7fc331094b76>, line 1)

___